<h1>Remove Banner</h1>

  <p>Are you sure you want to <strong class="warning">permanently remove</strong> the following banner?</p>

  <table class="index" id="links" cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr class="node level-1">
        <td class="banner">
          <%= image('banners/banner', :alt => 'banner-icon') %>
          <%= h @banner.title %>
        </td>
      </tr>
    </tbody>
  </table>

  <% form_tag do %>
    <p class="buttons">
      <input class="button" type="submit" value="Delete Banner"/>
      or
      <%= link_to 'Cancel', banner_index_url %>
    </p>
  <%- end -%>
